body {
  background: red !important;
}




body{
  background:#0b1a2a;
  color:white;
  font-family:Arial,sans-serif;
  text-align:center;
  padding:20px;
  margin:0;
}

.top{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.box{
  background:#1b2b3a;
  border:2px solid #555;
  padding:8px 12px;
  border-radius:6px;
  font-size:16px;
}

.lang button{
  background:none;
  border:none;
  color:white;
  cursor:pointer;
  padding:4px 8px;
  font-size:14px;
}

.lang button.active{
  background:#3a7bd5;
  border-radius:4px;
}

h1{margin:10px 0 14px;font-size:26px}
#timer{font-size:28px;font-weight:bold;margin-bottom:16px;}

button{
  cursor:pointer;
  border:none;
  border-radius:6px;
  font-size:18px;
  padding:10px 18px;
  background:#3a7bd5;
  color:white;
}

#hintBtn{margin-bottom:12px;}
#surrender,#playAgain{display:none;margin-top:6px;}

.hints{
  display:flex;
  justify-content:center;
  gap:12px;
  margin-bottom:16px;
}

.hint-square{
  width:90px;
  height:90px;
  border-radius:8px;
  background:#1b2b3a;
  border:2px solid #555;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:16px;
  transition:0.5s;
}

.hint-square.used{background:#6aaa64;color:white;}

.input-container{display:flex;justify-content:center;margin-bottom:6px;}

#guessInput{
  width:300px;
  padding:14px;
  font-size:16px;
  background:#1b2b3a;
  color:white;
  border:2px solid #555;
  border-radius:8px;
  text-align:center;
}

.auto{
  position:absolute;
  background:#1b2b3a;
  border:2px solid #555;
  border-radius:8px;
  display:none;
  z-index:5;
}

.auto div{
  padding:8px;
  cursor:pointer;
  border-radius:8px;
}

.auto div:hover{background:#3a7bd5;}

.board{margin-top:14px;}

.grid{
  display:flex;
  justify-content:center;
  gap:12px;
  margin-bottom:12px;
}

.square{
  width:90px;
  height:90px;
  border-radius:8px;
  font-size:16px;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid #555;
}

.green{background:#6aaa64;}
.red{background:#d9534f;}
.orange{background:#f0ad4e;}

.square.reveal{
  opacity:0;
  transform:scale(0.85);
  animation:reveal .35s forwards;
}

@keyframes reveal{
  to{opacity:1;transform:scale(1);}
}
